/* purgecss start ignore */
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.logo-wrapper {
  width: 230px;
}

.yellow-square {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(
    to right bottom,
    #ffdb20,
    #ffd636,
    #ffd146,
    #ffcd54,
    #ffc960
  );
  -webkit-box-shadow: 8px 15px 50px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 15px 50px -27px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 15px 50px -27px rgba(0, 0, 0, 0.75);
  position: relative;
}

.logo-rifaldhi {
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 62px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
}

.logo-aw {
  font-family: "Playfair Display";
  font-size: 90px;
  font-weight: normal;
  position: absolute;
  top: 80px;
  left: 20px;
  margin: 0;
}

.motto-width {
  width: 200px;
}

@screen md {
  .logo-wrapper {
    width: 370px;
  }

  .yellow-square {
    width: 320px;
    height: 320px;
  }

  .logo-rifaldhi {
    font-size: 98px;
    left: 25px;
  }

  .logo-aw {
    font-size: 150px;
    top: 120px;
    left: 35px;
  }

  .motto-width {
    width: 320px;
  }
}

@screen xl {
  .logo-wrapper {
    width: 410px;
  }

  .yellow-square {
    width: 350px;
    height: 350px;
  }

  .logo-rifaldhi {
    font-size: 106px;
    left: 30px;
  }

  .logo-aw {
    font-size: 170px;
    left: 40px;
    top: 120px;
  }

  .motto-width {
    width: 350px;
  }
}

.text-link {
  color: #950451;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #ffdb20;
  border: 2px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4a5568;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4a5568;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
